*{
    margin: 0px;
    padding: 0px;
    background-size: border-box;
    font-size: 1.2vw sans-serif;
    
}
.out
{
    background-color: #fe7e72;
    height: 100vh;
    width: 100vw;
    
}
.container
{
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/bg-intro-desktop.png");
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.inner{
    width: 80vw;
    height: 80vh;
   
    display: flex;
}
.box1{
    width: 50%;
    
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   

}
.box1> h1
{
    width: 80%;
    font: 3.5vw sans-serif;
    font-weight: bolder;
}
.box1> p
{  
    width: 80%;
}
.br
{
    display: block;
    height: 4vh;
}

.box2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 2%;
    flex-direction: column;
    background-color: white;
    width: 30vw;
    
}

input{
    
    width: 80%;
    height: 3vw;
    border: 1px solid #dedede;
    padding-left: 5%;
    
}
input:hover{
    border: 1px solid #7d7992;
}
.input1:focus{
    outline: none;
    border: 2px solid #7d7992;
    
}
button{
    
    width: 80%;
    height: 3vw;
    color: whitesmoke;
    background-color: #37cc8a;
    border:0px;
    border-radius: 2%;
    
}

.br1
{
    display: block;
    height:1.5vw;
}
.br2
{
    display: block;
    height: 1.5vw;
}
 small{
     font-size: .5em;
     text-align: center;
   
 }

 .fbox1> button{
     height: 7vh;
     width: 30vw;
     border-radius: 3%;
     background-color: #5d54a3;
     box-shadow: 0px 1vh #da6667;
 }

 span{
     color: red;
 }
 .small1{
    text-align: left;
    width: 25vw;
 }

 button:disabled{
    background-color: #9ff1cc;

 }

 @media screen and (max-width:480px){

    .out
    {   
        height: auto max-content;
    }
    .container{
        height: auto;
        background-size: auto;
    }
     .inner
     {
         flex-direction: column;
         text-align: center;
         justify-content: center;
         align-items: center;
         
     }
     .box1{
         width: 100%;
         height: 25vh;
     }
     .box2{
        width: 100%;
        height: 60vh;
        justify-content:center;
        align-items: center;
        
    }
    .box1>h1
    {
        font-size: 6vw;
        width: 100%;
    }
    .box1>p{
        width: 100%;
        font-size: 4vw;

    }
    .br
    {
        height: 1.5vw;
    }
    .br1
    {
        height: 2.5vw;
    }
    .br2
    {
        height: 2.5vw;
    }
    .br3
    {
        height: 8rem;
    }
    form{
        width: 70vw;
       
    }
    input{
     height: 8vw;
     font-size: 4vw;
    }button{
        
        font-size: 3.5vw;
        height: 8vw;
    }
    .fbox1> button{
        width: 70vw;
        height: 10vw;
        overflow-wrap:normal
        
        
    }
    
 }