
<body>
    <div ngClass="out">
    <div ngClass="container">
        <div ngClass="inner">
            <div class="br3"></div>
            <div ngClass="box1"><div class="br3"></div>
                                <h1>Learn to code by watching others</h1>
                                <div ngClass="br"></div>
                                <p>See how experieneced developers solve problem in real-time.
                                    Watching scripted tutorail is great, but understanding how 
                                    developers think is invaluable.
                                </p>
                                <div class="br1"></div>
            </div>
            <div ngClass="box2"><div ngClass="fbox1"><button><strong>Try it free 7 days</strong> then $20/mo. thereafter</button></div>
                                <div class="br2"></div>
                                <div ngClass="fbox2">
                                    <form action="" #tForm="ngForm" (ngSubmit)="submit(tForm)">
                                        
                                        <div class="br2"></div>
                                        <div class="br1"></div>
                                        <input class="input1" type="text" placeholder="First name" name="FirstName" ngModel #FirstName="ngModel" required minlength="3" maxlength="20">
                                        <small class="small1" *ngIf="FirstName.invalid && FirstName.touched"><span>Enter valid First name</span></small>
                                        
                                        <div class="br1"></div>
                                        <input class="input1" type="text" placeholder="Last name" name="LastName" ngModel #LastName="ngModel" required minlength="3" max="20">
                                        <small class="small1" *ngIf="LastName.invalid && LastName.touched"><span>Enter valid Last name</span></small>
                                        <div class="br1"></div>

                                        <input class="input1" type="email" placeholder="Email Address" name="Email" ngModel #Email="ngModel" required email="true">
                                        <small class="small1" *ngIf="Email.invalid && Email.touched"><span>Enter valid Email</span></small>
                                        
                                        <div class="br1"></div>
                                        <input class="input1" type="password" placeholder="Password" name="Password" ngModel #Password="ngModel" required minlength="6">
                                        <small class="small1" *ngIf="Password.invalid && Password.touched"><span>Enter valid Password</span></small>
                                        
                                        <div class="br1"></div>
                                        <button [disabled]="tForm.invalid">CLAIM YOUR FREE TRIAL</button>
                                        <div class="br1"></div>
                                        <small >By clicking the button, you are agreeing our <span>Terms and conditions.</span></small>
                                        <div class="br1"></div>
                                        <div class="br2"></div>
                                    </form>
                                </div>
            </div>
        </div>
    </div>
</div>
</body>
